/* VARIABLES */
$header-height: 100px;
$title-color: rgb(100, 100, 100);
$background: linear-gradient(0deg, lightblue 10%, orange 70%, orange 10%, orange 10%);

/* COMMON AND UTILITIES */
html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-image: $background;
}

/* STYLE */
header {
    height: $header-height;
    line-height: $header-height;
    background: orange;
    text-align: center;
    position: relative;

    .logo {
        width: 100px;
        height: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    
    .title {
        text-transform: uppercase;
    }
}

main {
    padding: 0 10%;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    // ?? calc nn accetta le variabili?
    height: calc(100vh - 100px); 

    .section {
        padding-top: 50px;

        &-title {
            padding: 20px 0 10px;
            color: $title-color;
        }

        &-content::first-letter {
            font-size: 1.2rem;
            font-weight: bold;
        }

        &-content {
            padding-bottom: 10px;

            .paragraph-content {
                text-decoration: underline;
            }
        }

        .paragraph-title {
            padding: 10px 0 5px;
            color: $title-color;
        }

        > .paragraph-content {
            color: lightblue;
        }
    }
}





